uvicorn[standard]
configparser
psycopg2
fastapi-sqlalchemy
pydantic 
alembic
sqlalchemy
sqlalchemy-utils
gunicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
uuid
aiofiles
glob2