uvicorn[standard]==latest
configparser==latest
psycopg2==latest
fastapi-sqlalchemy==latest
starlette==latest
pydantic==latest
alembic==latest
sqlalchemy==latest
sqlalchemy-utils==latest
gunicorn==latest
python-jose[cryptography]==latest
python-jose==latest
passlib[bcrypt]==latest
python-multipart==latest
uuid==latest
aiofiles==latest
glob2==latest
fastapi==latest
fastapi-mail==latest
python-dateutil==latest
fastapi-sqlalchemy==latest
pyjwt==latest